*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.cpp
!*.cc
!.gitignore
!.scalafmt.conf
!/playground/src/*
!build.sc
!README.md
!*.py
!*.gtkw
build/
.src/*
playground_bk/
src/bak/*
verilator/isp/vsrc_backup
verilator/isp/utils/output

# mill
out/*
.bsp/
.idea/
.idea_modules/
test_run_dir/
